
# npm
node_modules

# editors
.vscode
.history

# google-services
google-services.json

# browserstack local
bs-local-pid.txt
BrowserStackLocal*
local.log

# cordova
platforms/
plugins/
www/

# mocha
test-results.xml

# ignore .vars
.vars
