
# npm
node_modules

# editors
.vscode

# google-services
google-services.json

# browserstack local
bs-local-pid.txt
BrowserStackLocal*
local.log

# cordova
platforms/
plugins/
www/

# ignore .env
.env
