
# npm
node_modules

# editors
.vscode
.history

# google-services
google-services.json

# browserstack local
local.log
browserstack.err

# cordova
platforms/
plugins/
www/

# mocha
test-results.xml

# ignore .vars
.vars
